.rodape {
    padding: 0.5rem 1rem;
    color: aliceblue;
    text-align: center;
    font-size: 0.9rem;
    background-color: var(--dark-gray);
    width: 100%;
    position: absolute;
    bottom: 0;
}